@CHARSET "ISO-8859-1";
title {
	background-color: green;
}

body {
    background-color: green;
}

#PayoutTable {
	border-collapse: collapse;
	border:solid windowtext 2pt;
	background-color:blue;
	font-size: 125%;
}

#PayoutTable #TitleRow {
	background-color: yellow;
	padding: 1px;
	font-weight: bold;
	line-height:20px;
	color: black;
}

#PayoutTable .RowIndex {
	color: yellow;
	border-color: black;
}

#PayoutTable #TitleRow .RowIndex {
	color: black;
}

#PayoutTable #TitleData {
	text-align: right;
}

#PayoutTable #DetailData {
	color: yellow;
	font-weight: bold;
	border:solid windowtext 1.0pt;
	width:75px;
	text-align: right;
}

/*
#PayoutTable .ROYALFLUSH .BET2 {
	background-color: red;
	}
*/

#PayoutTable .RowIndex {
	width: 250px;
	valign:top;
} 

.holddata {
	width:128px;
	valign:top;
	/*width:95.75pt;*/
	height: 40pt;
	border:none;
    padding:0in 5.4pt 0in 5.4pt;
}

.holdtext {
}

.cardrow {
	height:108.85pt;
}

.cardbox {
	width:128px;
	valign:top; 
	/*width:95.75pt;*/
	border:none;
    padding:0in 5.4pt 0in 5.4pt;
    height:108.85pt;
}

#hold1 {
	hidden:true;
	align:center;
	margin-bottom:0in;
	margin-bottom:.0001pt;
    text-align:center;
    line-height:normal;
}

#hold2 {
	hidden:true;
	align:center;
	margin-bottom:0in;
	margin-bottom:.0001pt;
    text-align:center;
    line-height:normal;
}

#hold3 {
	hidden:true;
	align:center;
	margin-bottom:0in;
	margin-bottom:.0001pt;
    text-align:center;
    line-height:normal;
}

#hold4 {
	hidden:true;
	align:center;
	margin-bottom:0in;
	margin-bottom:.0001pt;
    text-align:center;
    line-height:normal;
}

#hold5 {
	hidden:true;
	align:center;
	margin-bottom:0in;
	margin-bottom:.0001pt;
    text-align:center;
    line-height:normal;
}

.controls {
	valign:top;
	halign:center;
	font-size:125%;
}

.submitControl {
	width: 200px;
	font-size:125%;
}

#betDisplay, #creditsDisplay {
	font-size: 125%;
}

#betValDisplay {
	width:30px;	
	background-color:green;
	border: none;
	font-size:125%;
}

#bet1button {
	display: none;
}

#bet2button {
	display: none;
}

#bet3button {
	display: none;
}

#bet4button {
	display: none;
}

#bet5button {
	display: none;
}

.payoutText {
	display: none;
	font-size:125%;
}

